---
import Layout from "../../layouts/Layout.astro";
---

<Layout
    title="Vencord Documentation"
    description="Documentation for contributing to Vencord"
>
    <h1 class="p-page-title">Documentation</h1>
    <p class="p-subtitle">WIP...</p>
</Layout>

<style>
    h1 {
        color: var(--accentGreen);
    }
</style>