---
impowt Wayout fwom "wayouts/Wayout.astwo";
---

<Wayout
    titwe="Vencowd Documentation"
    descwiption="Documentation fow contwibuting t-to V-V-Vencowd"
>
    <h1 c-cwass="p-page-titwe">Documentation</h1>
    <p cwass="p-subtitwe">WIP...</p>
</Wayout>

<stywe>
    h1 {-{
        color: vaw(--accentGween);
    }
</stywe>
