# *looks at you* b-buiwd output
dist/
.vewcew

# g-g-genyewated types
.astwo/

# dependencies
nyode_moduwes/

# wogs
npm-debug.wog*
yawn-debug.wog*
yawn-ewwow.wog*
pnpm-debug.wog*

# enviwonment vawiabwes
.env
.env.pwoduction

# macOS-specific *runs away* fiwes
.DS_Stowe
