---
import Card, { CardKind } from "components/Card.svelte";
import {
    CHROME_WEBSTORE_URL,
    FIREFOX_WEBSTORE_URL,
    FIREFOX_ZIP_URL,
    USERSCRIPT_URL,
} from "scripts/constants";
import Code from "components/Code.astro";
import Tab from "./Tab.astro";
---

<Tab>
    <Fragment slot="header">
        <p>
            You can download Vencord from the Chrome Store or use the
            UserScript.
        </p>

        <div class="buttons">
            <a href={CHROME_WEBSTORE_URL}>
                <img
                    src="/assets/chrome-button.png"
                    title="Get Vencord on the Chrome Webstore"
                />
            </a>
            <a href={USERSCRIPT_URL} title="Download Vencord.user.js">
                <div class="userscript-badge">
                    <img src="/assets/monkey.png" aria-hidden="true" />
                    <div class="userscript-text">
                        <span>Get the</span>
                        <span>Userscript</span>
                    </div>
                </div>
            </a>
        </div>

        <p>
            To get the Userscript, you'll need a Userscript manager like <a
                href="https://violentmonkey.github.io/">Violentmonkey</a
            > or <a href="https://www.tampermonkey.net/">Tampermonkey</a>.
        </p>
        <b><br>You can install Vencord for Firefox by following these steps</b>
        <ol>
            <li>Keep in mind that you'll need <b>Firefox ESR/Dev Edition/Nightly</b> or <b>Librewolf</b>.</li>
            <li>If you have one of these, download the zip file <a 
                href="https://raw.githubusercontent.com/Vencord/builds/main/extension-firefox.zip">here</a>.
            <li>Enter <Code>about:config</Code> to the address bar and press enter.</li>
            <li>Search for <Code>xpinstall.signatures.required</Code> and set it to <b>false</b>.<br>
                <b>This will allow other unsigned addons to be installed from file which could pose<br>
                a security threat so be mindful about addons you're installing using the next step.</b>
            </li>
            <li>After that, go to <b>Settings->Extensions & Themes</b> and click on the cogwheel button.</li>
            <li>Select <b>Install Add-On From File...</b> and search for the downloaded zip file.</li>
            <li>Vencord should now be installed, if you receive a notification saying<br>
                <b>This addon could not be installed because it has not been verified</b> double check<br>
                that you have <b>Firefox ESR/Dev Edition/Nightly</b> or <b>Librewolf</b>.
            </li>
        </ol>
    </Fragment>

    <Fragment slot="footer">
        <Card kind={CardKind.Warning}>
            <p>
                Please note that due to Discord's
                <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP"
                    >content security policy</a
                >, the CSS Editor, custom themes and plugins making use of
                external scripts will not work with the Userscript.
            </p>
        </Card>
    </Fragment>
</Tab>

<style>
    .buttons {
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding: 1em;
        flex-wrap: wrap;
    }

    .buttons a {
        text-decoration: none;
        color: black;
        transition: filter 0.2s ease-in-out;
    }

    .userscript-badge {
        height: 58px;
        width: 180px;
        padding: 4px 8px;
        border-radius: 6px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        background: white;
        transform: translateY(1px);
    }

    .userscript-badge img {
        height: 90%;
    }

    .userscript-text {
        margin-left: 12px;
    }

    .userscript-text span {
        line-height: 1;
    }

    .userscript-text span:nth-child(1) {
        font-size: 0.9em;
    }
    .userscript-text span:nth-child(2) {
        font-size: 1.2em;
        font-weight: bold;
    }
</style>
