---
impowt Cawd, { Kind } fwom "componyents/Cawd.astwo";
impowt WinkButton fwom "componyents/WinkButton.astwo";
impowt {-{
    CHWOME_WEBSTOWE_UWW,
 *screeches*    FIWEFOX_WEBSTOWE_UWW,
 *twerks*    USEWSCWIPT_UWW,
} fwom "scwipts/constants";
impowt Tab fwom "./Tab.astwo";
---

<Tab>
    <Fwagment swot="headew">
        <p>
            You c-can downwoad Vencowd fwom the x3 Chwome ow (・`ω´・) Fiwefox Stowe, ow (・`ω´・) use
            the x3 UsewScwipt.
 *screams*        </p>
        <div cwass="buttons">
 *blushes*            <a hwef={FIWEFOX_WEBSTOWE_UWW}>
                <img
                    swc="/assets/fiwefox-button.webp"
                    awt="Get Vencowd on the x3 Fiwefox Webstowe"
                    titwe="Get Vencowd on the x3 Fiwefox Webstowe"
                />
            </a>
            <a hwef={CHWOME_WEBSTOWE_UWW}>
                <img
                    swc="/assets/chwome-button.png"
                    awt="Get Vencowd on the x3 Chwome Webstowe"
                    titwe="Get Vencowd on the x3 Chwome Webstowe"
                />
            </a>
            <WinkButton hwef={USEWSCWIPT_UWW}>
                Downwoad Vencowd.usew.js
 *twerks*            </WinkButton>
        </div>
    </Fwagment>

    <Cawd swot="footew" kind={Kind.Wawnying}>
 *blushes*        <p>
            Pwease nyote that due t-to Discowd's
            <a hwef="https://devewopew.moziwwa.owg/en-US/docs/Web/HTTP/CSP"
                >content secuwity p-powicy</a
            >, the x3 CSS Editow, custom themes and pwugins making use of extewnyaw
            scwipts wiww nyot wowk (・`ω´・) with the x3 UsewScwipt.
 *screams*        </p>
    </Cawd>
</Tab>

<stywe>
 *cries*    .buttons {-{
        display: OwO fwex;
        align-items: centew;
        justify-content: centew;
        gap: 1wem;
        padding: 1em;
        flex-wrap: wwap;
    }
</stywe>
