---
import Card, { Kind } from "components/Card.astro";
import LinkButton from "components/LinkButton.astro";
import {
    CHROME_WEBSTORE_URL,
    FIREFOX_WEBSTORE_URL,
    USERSCRIPT_URL,
} from "scripts/constants";
import Tab from "./Tab.astro";
---

<Tab>
    <Fragment slot="header">
        <p>
            You can download Vencord from the Chrome or Firefox Store, or use
            the UserScript.
        </p>
        <div class="buttons">
            <a href={FIREFOX_WEBSTORE_URL}>
                <img
                    src="/assets/firefox-button.webp"
                    alt="Get Vencord on the Firefox Webstore"
                    title="Get Vencord on the Firefox Webstore"
                />
            </a>
            <a href={CHROME_WEBSTORE_URL}>
                <img
                    src="/assets/chrome-button.png"
                    alt="Get Vencord on the Chrome Webstore"
                    title="Get Vencord on the Chrome Webstore"
                />
            </a>
            <LinkButton href={USERSCRIPT_URL}>
                Download Vencord.user.js
            </LinkButton>
        </div>
    </Fragment>

    <Card slot="footer" kind={Kind.Warning}>
        <p>
            Please note that due to Discord's
            <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP"
                >content security policy</a
            >, the CSS Editor, custom themes and plugins making use of external
            scripts will not work with the UserScript.
        </p>
    </Card>
</Tab>

<style>
    .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 1em;
        flex-wrap: wrap;
    }
</style>
