---
import Card, { Kind } from "components/Card.astro";
import {
    CHROME_WEBSTORE_URL,
    FIREFOX_WEBSTORE_URL,
    USERSCRIPT_URL,
} from "scripts/constants";
import Tab from "./Tab.astro";
---

<Tab>
    <Fragment slot="header">
        <p>
            You can download Vencord from the Chrome Store or use the
            UserScript.
        </p>

        <div class="buttons">
            <a href={CHROME_WEBSTORE_URL}>
                <img
                    src="/assets/chrome-button.png"
                    title="Get Vencord on the Chrome Webstore"
                />
            </a>
            <a href={USERSCRIPT_URL} title="Download Vencord.user.js">
                <div class="userscript-badge">
                    <img src="/assets/monkey.png" aria-hidden="true" />
                    <div class="userscript-text">
                        <span>Get the</span>
                        <span>Userscript</span>
                    </div>
                </div>
            </a>
        </div>

        <p>
            To get the Userscript, you'll need a Userscript manager like <a
                href="https://violentmonkey.github.io/">Violentmonkey</a
            > or <a href="https://www.tampermonkey.net/">Tampermonkey</a>.
        </p>
    </Fragment>

    <Fragment slot="footer">
        <Card kind={Kind.Warning}>
            <p>
                Please note that due to Discord's
                <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP"
                    >content security policy</a
                >, the CSS Editor, custom themes and plugins making use of
                external scripts will not work with the Userscript.
            </p>
        </Card>
    </Fragment>
</Tab>

<style>
    .buttons {
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding: 1em;
        flex-wrap: wrap;
    }

    .buttons a {
        text-decoration: none;
        color: black;
        transition: filter 0.2s ease-in-out;
    }

    .userscript-badge {
        height: 58px;
        width: 180px;
        padding: 4px 8px;
        border-radius: 6px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        background: white;
        transform: translateY(1px);
    }

    .userscript-badge img {
        height: 90%;
    }

    .userscript-text {
        margin-left: 12px;
    }

    .userscript-text span {
        line-height: 1;
    }

    .userscript-text span:nth-child(1) {
        font-size: 0.9em;
    }
    .userscript-text span:nth-child(2) {
        font-size: 1.2em;
        font-weight: bold;
    }
</style>
