---
import Code from "components/Code.astro";
import Tab from "./Tab.astro";
import CodeBlock from "components/ShikiCodeBlocks.svelte";
import { getHighlighter } from "shiki";

const highlighter = await getHighlighter({
    themes: ["catppuccin-frappe"],
    langs: ["shell"],
});
---

<Tab>
    <div class="tab-container" slot="header">
        <p>
            Open your terminal and run the following command. Then follow the
            instructions in your terminal. If you're using fish, switch to bash
            first (by running
            {}
            <Code>bash</Code>)
        </p>
        <CodeBlock
            code={'sh -c "$(curl -sS\nhttps://raw.githubusercontent.com/Vendicated/VencordInstaller/main/install.sh)"'}
            lang="shell"
            {highlighter}
            client:load
        />
    </div>
</Tab>

<style>
    h3 {
        margin: 1em 0 0.5em;
        font-size: 2em;
    }

    .tab-container {
        max-width: 100%;
    }
</style>
