---
import Code from "components/Code.astro";
import Tab from "./Tab.astro";
import CodeBlock from "components/CodeBlock.svelte";
import Card, { CardKind } from "components/Card.svelte";
---

<Tab>
    <div slot="header">
        <p class="instruction">
            Open your terminal and run the following command. Then follow the
            instructions in your terminal. If you're using fish, switch to bash
            first (by running
            {}
            <Code>bash</Code>)
        </p>
        <CodeBlock
            code={`sh -c "$(curl -sS ${Astro.url.origin}/install.sh)"`}
            client:load
        />
    </div>

    <section slot="footer">
        <Card kind={CardKind.Warning}>
            <p>
                Discord installed via snap is not supported. Instead, use one of
                <ul>
                    <li>
                        <a
                            href="https://flathub.org/apps/details/com.discordapp.Discord"
                        >
                            Discord Flatpak
                        </a>
                    </li>
                    <li>
                        <a href="https://discord.com/download">
                            Discord's official .deb package
                        </a>
                    </li>
                </ul>
            </p>
        </Card>
    </section>
</Tab>

<style>
    h3 {
        margin: 1em 0 0.5em;
        font-size: 2em;
    }

    ul {
        margin-top: 0;
        margin-left: 1em;
        padding: 0;
    }

    p {
        margin-bottom: 0.25em;
    }

    section {
        width: 100%;
        margin-top: 1em;
    }

    .instruction {
        margin-bottom: 1em;
    }
</style>
