---
import Card, { CardKind } from "components/Card.svelte";
import Code from "components/Code.astro";
import Tab from "./Tab.astro";
import CodeBlock from "components/CodeBlock.svelte";

const CLI_COMMAND = `
cd /tmp
curl https://github.com/Vencord/Installer/releases/latest/download/VencordInstallerCli-linux -Lo vencord-installer
chmod +x vencord-installer
sudo XDG_CONFIG_HOME="$XDG_CONFIG_HOME" ./vencord-installer --install
`.trim();
---

<Tab>
    <div slot="header">
        <div class="buttons">
            <a href="https://flathub.org/apps/dev.vencord.Vesktop">
                <img
                    src="https://dl.flathub.org/assets/badges/flathub-badge-en.svg"
                    width="240"
                    title="Download on Flathub"
                />
            </a>
        </div>

        <p>
            If you don't want to use Flathub, you can just use our automatic launcher
            script and it will figure everything out for you! To do so, just run
             the below command. If you're using fish, switch to bash first (by running
            {}
            <Code>bash</Code>)
        </p>
        <CodeBlock
            code={'sh -c "$(curl -sS https://raw.githubusercontent.com/Vendicated/VencordInstaller/main/install.sh)"'}
            client:load
        />

        <h3>If this errors or doesn't open</h3>
        <p>
            Run the following commands to use the cli installer. Answer
            questions when prompted (usually by typing a number). If you're
            using fish, switch to bash first (by running
            {}
            <Code>bash</Code>)
        </p>
        <CodeBlock code={CLI_COMMAND} client:load />
        <p>
            To later uninstall, do the same but with --uninstall instead.
            <br />
            You can also run the installer with no arguments to get a full list of
            available commands
        </p>
    </div>
</Tab>

<style>
    .buttons {
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding: 1em;
        flex-wrap: wrap;
    }

    .buttons a {
        text-decoration: none;
        color: black;
        transition: filter 0.2s ease-in-out;
    }

    h3 {
        margin: 1em 0 0.5em;
        font-size: 2em;
    }
</style>
