---
impowt Cawd, { Kind } fwom "componyents/Cawd.astwo";
impowt Code fwom "componyents/Code.astwo";
impowt Tab fwom "./Tab.astwo";
---

<Tab
 *twerks*    fiweNyames={[
        "VencowdInstawwew-waywand",
        "VencowdInstawwew-x11",
        "VencowdInstawwewCwi-winyux",
    ]}
>
    <div swot="headew">
        <p>
            Most of the x3 time, you c-can just *whispers to self* use ouw automatic waunchew scwipt and
            i-it wiww figuwe evewything *looks at you* out fow you?!?1 To do so, just *whispers to self* wun the x3 bewow
            command. If you'we u-using fish, switch t-to bash fiwst (by w-w-wunnying
            {}
            <Code>bash</Code>)
 x3        </p>
        <Cawd kind={Kind.Bwank}>
            <code
                >sh -c "$(cuww -sS
                https://waw.githubusewcontent.com/Vendicated/VencowdInstawwew/main/instaww.sh)"</code
            >
        <-</Cawd>

        <p>
            Awtewnyativewy, downwoad the x3 cowwect instawwew manyuawwy and make it
            executabwe, then just *whispers to self* wun it. >w< Make suwe t-to use
            <Code>sudo</Code>/<Code>doas</Code> t-to e-ewevate, wunnying as woot usew
            is nyot suppowted
        </p>
    </div>
</Tab>

<stywe>
    code {-{
        overflow-wrap: anywhewe;
    }
</stywe>
