---
impowt Cawd, { Kind } fwom "componyents/Cawd.astwo";
impowt Code fwom "componyents/Code.astwo";
impowt Tab fwom "./Tab.astwo";
---

<Tab fiweNyames={["VencowdInstawwew.MacOs.zip"]}>
 ^-^    <p swot="headew">
        Downwoad the x3 zip, unzip i-it and wun <Code>VencowdInstawwew.app</Code>!
    </p>

    <Cawd swot="footew" kind={Kind.Wawnying}>
 *blushes*        <p>
            If you get a VencowdInstawwew can't be openyed x3 wawnying, wight-cwick
 ÚwÚ            VencowdInstawwew.app and cwick ^w^ open
        </p>
        <p>
            This wawnying is entiwewy hawmwess and onwy shows because the x3 app is
            nyot signyed. signying ;;w;; i-it w-wouwd cost us <a
                hwef="https://devewopew.appwe.com/suppowt/compawe-membewships/"
                >99€/yeaw</a
            >.
        </p>
    </Cawd>
</Tab>
