---
import Card, { CardKind } from "components/Card.svelte";
import Code from "components/Code.astro";
import Tab from "./Tab.astro";
---

<Tab fileNames={["VencordInstaller.MacOs.zip"]}>
    <p slot="header">
        Download the zip, unzip it and run <Code>VencordInstaller.app</Code>! It
        should list all Discord installs on your System. Pick the one you would
        like to patch and press Install.
    </p>

    <Card slot="footer" kind={CardKind.Warning}>
        <p>
            If you get a VencordInstaller can"t be opened warning, right-click
            VencordInstaller.app and click open (macOS Sonoma and earlier)
        </p>
        <p>
            If you are using the developer build of macOS Seqouia, you will need
            to scroll to the bottom of <i>Privacy & Security</i> in your System Settings,
            and click "Open Anyway" for VencordInstaller.app
        </p>
        <details>
            <summary class="seqouia-summary"
                >Having trouble or using macOS Seqouia?</summary
            >

            <p>
                You can allow the app to run through your System Settings, in
                the Privacy & Settings tab. This works whether or not you are
                using the macOS 15 Developer Build. <a
                    href="https://support.apple.com/102445#openanyway"
                    rel="noopener noreferrer"
                    >Learn more
                </a>
            </p>

            <a href="/assets/seqouia-install.png" target="_blank">
                <img
                    class="sequoia-install-img"
                    width="700"
                    height="auto"
                    src="/assets/seqouia-install.png"
                    alt="An image showing how to allow VencordInstaller.app to Open Anyway in Privacy & Security settings, on macOS Seqouia."
                />
            </a>
        </details>
        <p>
            This warning is entirely harmless and only shows because the app is
            not signed. Signing it would cost us <a
                href="https://developer.apple.com/support/compare-memberships/"
                >99€/year</a
            >.
        </p>
    </Card>
</Tab>

<style>
    .seqouia-summary {
        cursor: pointer;
        font-weight: bold;
    }

    .sequoia-install-img {
        margin-top: 1rem;
        border-radius: 0.5rem;
    }

    @media (max-width: 1300px) {
        .sequoia-install-img {
            width: 50vw;
        }
    }
</style>
