---
import AutoSizeGrid from "components/AutoSizeGrid.astro";
import LinkButton from "components/LinkButton.astro";

export type NameUrlTuple = [name: string, url: string];

export interface Props {
    links?: NameUrlTuple[];
}

const { links } = Astro.props as Props;
---

<div class="tab">
    <slot name="header" />

    {
        links && links.length > 0 && (
            <AutoSizeGrid class="os-downloads">
                {links.map(([name, url], i) => (
                    <LinkButton
                        href={url}
                        class:list={{ "main-btn": i === 0 }}
                    >
                        Download {name}
                    </LinkButton>
                ))}
            </AutoSizeGrid>
        )
    }

    <slot name="footer" />
</div>

<style>
    .tab {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .os-downloads {
        margin-bottom: 1rem;
    }

    .main-btn {
        background-color: var(--accentPurple);
        color: var(--bgCurrentWord);
        outline: none;
    }

    .main-btn:focus-visible {
        outline: 2px solid var(--accentBlue);
    }

    .main-btn:hover {
        background-color: rgba(var(--accentPurpleRgb), 0.8);
    }

    .main-btn:active {
        background-color: rgba(var(--accentPurpleRgb), 0.9);
        outline: none;
    }
</style>
