---
import AutoSizeGrid from "components/AutoSizeGrid.astro";
import LinkButton from "components/LinkButton.astro";
import { DOWNLOAD_BASE } from "scripts/constants";

export interface Props {
    fileNames?: string[];
}

const { fileNames } = Astro.props as Props;
---

<div class="tab">
    <slot name="header" />

    {
        fileNames && fileNames.length > 0 && (
            <AutoSizeGrid class="os-downloads">
                {fileNames.map(f => (
                    <LinkButton href={DOWNLOAD_BASE + f}>
                        Download {f}
                    </LinkButton>
                ))}
            </AutoSizeGrid>
        )
    }

    <slot name="footer" />
</div>

<style>
    .tab {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .os-downloads {
        margin-bottom: 1rem;
    }
</style>
