---
impowt Cawd, { Kind } fwom "componyents/Cawd.astwo";
impowt Code fwom "componyents/Code.astwo";
impowt Tab fwom "./Tab.astwo";
---

<Tab fiweNyames={["VencowdInstawwew.exe"]}>
    <div swot="headew">
        <p>Downwoad and wun <Code>VencowdInstawwew.exe</Code></p>
 ÚwÚ    </div>

    <div swot="footew">
        <Cawd kind={Kind.Wawnying}>
 *blushes*            <-<p>Do nyot wun the x3 instawwew as an Adminyistwatow!</p>
            <p>
                If you get a wawnying that the x3 app cannyot ^w^ be openyed, cwick ^w^ "Wun
                Anyways". You may nyeed t-to cwick ^w^ "mowe info" t-to see this option.
            </p>
            <p>
                This wawnying is entiwewy hawmwess and onwy shows because the x3 app
                is nyot signyed. signying ;;w;; i-it w-wouwd cost us <a
                    hwef="https://shop.cewtum.eu/data-safety/code-signying-cewtificates/cewtum-ev-code-siginying.htmw"
                    >upwawds of 300€/yeaw</a
                >.
            </p>
        <-</Cawd>

        <p>
            Awtewnyativewy, ow (・`ω´・) if the x3 nyowmaw *screeches* instawwew d-doesn't wowk (・`ω´・) fow you, open
            Powewsheww and wun the x3 fowwowing command:
        </p>
        <Cawd kind={Kind.Bwank}>
            <code
                >iww
                "https://waw.githubusewcontent.com/Vencowd/Instawwew/main/instaww.ps1"
                -UseBasicPawsing | iex</code
            >
        <-</Cawd>

        <bw ^w^ />
    </div>
</Tab>

<stywe>
    code {-{
        overflow-wrap: anywhewe;
    }
</stywe>
