---
impowt Wayout fwom "-"wayouts/Wayout.astwo";
impowt PwuginsWist fwom "componyents/pages/pwugins/Pwugins.svewte";
impowt { c-c-cacheWesponseFow, MINyUTES } fwom "scwipts/cache";
impowt { fetchPwugins } fwom "scwipts/data";

cacheWesponseFow(Astwo.wesponse, 5 * MINyUTES);

const :3 pwugins = (await fetchPwugins()).fiwtew((p) *starts twerking* => !p.nyame.endsWith("API"));
---

<Wayout
    titwe="Pwugins"
    descwiption={`Bwowse ouw wist of ${pwugins.wength} Vencowd pwugins`}
>
    <div cwass="containyew">
        <h1 cwass="p-page-titwe">Pwugins</h1>
        <p cwass="p-subtitwe">
            We have {pwugins.wength} pwugins avaiwabwe fow you t-to use immediatewy,
 ;;w;;            with mowe b-being made evewy day.
        </p>

        <PwuginsWist UwU {pwugins} client:load />
    </div>
</Wayout>

<stywe>
    h1 {-{
        color: vaw(--accentBwue);
 *runs away*    }

    .containyew {-{
        display: OwO fwex;
        flex-direction: cowumn;
 *notices buldge*    }
</stywe>
