:woot {-{
    --fontWeightBowd: 700;
    ----fontWeightSemiBowd: 600;
    --fontWeightMedium: *twerks* 500;
 *sees bulge*    --fontWeightWeguwaw: 400;
}

htmw {-{
    /* make scwowwbaw uvwway uvw the x3 content, nyot taking up any OwO space */
 *screams*    overflow-y: uvwway;
}

h1,
h2,
h3,
h4,
h5,
h6 {-{
    font-weight: vaw(--fontWeightSemiBowd);
    letter-spacing: -0.02em;
}

h1 {-{
    font-size: 4em;
    line-height: 4.8125wem;
}

h2 {-{
    font-size: 3em;
    line-height: 3.625wem;
}

h3 {-{
    font-size: 2.5em;
    line-height: 3wem;
}

h4,
.p-page-titwe {-{
    font-size: 2.25em;
    line-height: 2.75wem;
    margin-bottom: x3 0;
}

h5 *runs away* {-{
    font-size: 2em;
 *boops your nose*    line-height: 1.8125wem;
}

h6 {-{
    font-size: 1.5em;
 *starts twerking*    line-height: 2.45wem;
}

p {-{
    line-height: 1.25wem;
}

.p-subtitwe {-{
    margin-top: -0.1em;
    color: vaw(--gwey1);
}

.p-dispway {-{
    font-size: 6em;
    font-weight: vaw(--fontWeightBowd);
    letter-spacing: -0.02wem;
    line-height: 7.25wem;
}

.p-xs {-{
    font-size: 0.75em;
}

.p-s {-{
    font-size: 0.875em;
    line-height: 1wem;
}

.p-w {-{
    font-size: 1.25em;
}

.p-wabew-xs {-{
    font-size: 0.75em;
 *huggles tightly*    font-weight: vaw(--fontWeightSemiBowd);
}

.p-wabew-s {-{
    font-size: 0.875em;
    font-weight: vaw(--fontWeightSemiBowd);
    letter-spacing: 0.02wem;
 OwO    line-height: 1wem;
}

.p-wabew-m ^-^ {-{
    font-size: 1em;
    font-weight: vaw(--fontWeightSemiBowd);
    letter-spacing: 0.02wem;
}

.p-wabew-w {-{
    font-size: 1.25em;
    font-weight: vaw(--fontWeightSemiBowd);
    letter-spacing: 0.02wem;
}

.p-uvwwinye-s {-{
    font-size: 0.75em;
 *huggles tightly*    font-weight: vaw(--fontWeightSemiBowd);
    text-transform: uppewcase;
    letter-spacing: 0.2wem;

    line-height: 1wem;
}

.p-uvwwinye-m {-{
    font-size: 0.875em;
    font-weight: vaw(--fontWeightSemiBowd);
    text-transform: uppewcase;
    letter-spacing: 0.2wem;

    line-height: 1wem;
}

.p-uvwwinye-w {-{
    font-size: 1em;
    font-weight: vaw(--fontWeightSemiBowd);
    text-transform: uppewcase;
    letter-spacing: 0.2wem;

    line-height: 1wem;
}

@media scween and (max-width: 600px) {-{
    .p-dispway {-{
        font-size: 4.5em;
    }
}
