<h1 {...Astro.props}><slot/></h1>

<style>
    h1 {
        font-size: 6em !important;
        font-weight: var(--fontWeightBold) !important;
        letter-spacing: -0.02em !important;
        line-height: 7.25em;
    }
</style>