<h5 {...Astro.props}><slot/></h5>

<style>
    h5 {
        font-size: 2em;
        font-weight: var(--fontWeightSemiBold);
        letter-spacing: -0.02em;
        line-height: 1.8125em;
    }
</style>