<h2 {...Astro.props}><slot/></h2>

<style>
    h2 {
        font-size: 3em;
        font-weight: var(--fontWeightSemiBold);
        letter-spacing: -0.02em;
        line-height: 3.625em;
    }
</style>