<h1 {...Astro.props}><slot/></h1>

<style>
    h1 {
        font-size: 4em;
        font-weight: var(--fontWeightSemiBold);
        letter-spacing: -0.02em;
        line-height: 4.8125em;
    }
</style>