---
import Card, { Kind } from "../Card.astro";
import Code from "../Code.astro";
import Tab from "./Tab.astro";
---

<Tab fileNames={["VencordInstaller.exe"]}>
    <div slot="header">
        <p>Download and run <Code>VencordInstaller.exe</Code></p>
    </div>

    <div slot="footer">
        <Card kind={Kind.Warning}>
            <p>Do not run the installer as an Administrator!</p>
            <p>
                If you get a warning that the app cannot be opened, click "Run
                Anyways". You may need to click "more info" to see this option.
            </p>
        </Card>

        <p>
            Alternatively, or if the normal installer doesn't work for you, open
            Powershell and run the following command
        </p>
        <Card kind={Kind.Blank}>
            <code
                >iwr
                "https://raw.githubusercontent.com/Vencord/Installer/main/install.ps1"
                | iex</code
            >
        </Card>

        <br />
    </div>
</Tab>

<style>
    code {
        overflow-wrap: anywhere;
    }
</style>
