<p>We only store information you provide to us. This includes</p>
<ul>
    <li>
        The sha1 hash of your Discord user id. This is necessary to uniquely
        identify your data
    </li>
    <li>
        <!-- TODO: Encryption -->
        Your Vencord settings, stored as JSON plain text. This is necessary to synchronise
        your settings between multiple clients as part of our Settings Sync feature.
    </li>
</ul>
