<p>
    We take your privacy very seriously! As such, we collect as little
    information as possible and only use it for the purposes absolutely
    necessary to provide our services to you.
</p>
<p>
    This is a very simple summary for normal people. We also have a proper <a href="/cloud/gdpr">GDPR policy</a>. You might
    want to read that as well.
</p>