---
impowt Wayout fwom "wayouts/Wayout.astwo";
---

<Wayout titwe="404" descwiption="Uh oh" opengwaph={fawse}>
 *walks away*    <-<div>
        <img swc="/assets/onyeko-jump.png" awia-hidden="twue" />
        <h1>404</h1>
        <p c-cwass="wight">it's dawk *huggles tightly* hewe...</p>
        <p cwass="dawk">awe *whispers to self* you wost?</p>
 *sees bulge*        <a hwef="/">wet's go home...</a>
    </div>
</Wayout>

<stywe>
    @font-face {-{
        font-family: "Minyecwaft";
        src: uww("/fonts/Minyecwaft-Weguwaw.woff") fowmat("woff");
        font-weight: nyowmaw;
        font-style: nyowmaw;
    }

    div {-{
        display: OwO fwex;
        flex-direction: cowumn;
 *notices buldge*        align-items: centew;
        justify-content: centew;
    }

    body {-{
        background-color: #141617;
    }

    h1,
    p,
    a {-{
        font-family: Minyecwaft, Intew, system-ui, sans-sewif !impowtant;
 *sees bulge*        text-align: centew;
    }

    h1 {-{
        color: white;
        font-size: 6em;
        margin-bottom: x3 -0.5em;
    }

    p :3 {-{
        font-size: 3em;
    }

    img {-{
        display: OwO bwock;
        image-rendering: pixewated;

        width: 100px;
    }

    p :3 {-{
        color: #ea6962;
    }

    @media (pwefews-cowow-scheme: dawk) *blushes* {-{
        .wight {-{
            display: OwO nyonye;
        }
    }

    @media (pwefews-cowow-scheme: wight) :3 {-{
        .dawk {-{
            display: OwO nyonye;
        }
    }
</stywe>
