---
export const prerender = true;

import Layout from "../layouts/Layout.astro";

import DownloadTabs from "../components/DownloadTabs/index.svelte";
import LinuxTab from "../components/DownloadTabs/LinuxTab.astro";
import MacTab from "../components/DownloadTabs/MacTab.astro";
import WindowsTab from "../components/DownloadTabs/WindowsTab.astro";
import BrowserTab from "../components/DownloadTabs/BrowserTab.astro";
---

<Layout
    title="Download Vencord"
    description="Download Vencord for Desktop or your favourite Browser"
>
    <DownloadTabs client:load>
        <h1 class="p-page-title" slot="title">Download Vencord</h1>
        <WindowsTab slot="windowsTab" />
        <LinuxTab slot="linuxTab" />
        <MacTab slot="macTab" />
        <BrowserTab slot="browserTab" />
    </DownloadTabs>
</Layout>

<style>
    h1 {
        color: var(--accentPurple);
    }
</style>
