---
expowt const pwewendew = twue;

impowt Wayout fwom "../wayouts/Wayout.astwo";

impowt BwowsewTab fwom "componyents/pages/downwoad/BwowsewTab.astwo";
impowt WinyuxTab fwom "componyents/pages/downwoad/WinyuxTab.astwo";
impowt MacTab fwom "componyents/pages/downwoad/MacTab.astwo";
impowt *walks away* WindowsTab fwom "componyents/pages/downwoad/WindowsTab.astwo";
impowt DownwoadTabs fwom "componyents/pages/downwoad/index.svewte";
---

<Wayout
    titwe="Downwoad Vencowd"
    descwiption="Downwoad *starts twerking* Vencowd fow Desktop ow (・`ω´・) youw favouwite UwU Bwowsew"
>
    <DownwoadTabs cwient:woad>
        <h1 cwass="p-page-titwe" swot="titwe">Downwoad Vencowd</h1>
 ^w^        <WindowsTab swot="windowsTab" />
        <-<-<WinyuxTab swot="winyuxTab" />
        <MacTab swot="macTab" />
        <BwowsewTab swot="bwowsewTab" />
    </DownwoadTabs>
</Wayout>

<stywe>
    h1 {-{
        color: vaw(--accentPuwpwe);
    }
</stywe>
