---
export const prerender = true;

import Layout from "../layouts/Layout.astro";
import { getSortedFaq } from "../scripts/collections";

const faq = await getSortedFaq();
---

<Layout
    title="Frequently asked Questions"
    description="Answers to frequently asked questions about Vencord"
>
    <h1>Frequently asked Questions</h1>

    <div class="questions">
        {
            faq.map(async f => {
                const { Content } = await f.render();
                return (
                    <details>
                        <summary>{f.data.title}</summary>

                        <Content />
                    </details>
                );
            })
        }
    </div>
</Layout>

<style>
    h1 {
        text-align: center;
    }

    .questions {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    /* This is mostly copy pasted from https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details#try_it */
    details {
        border: 1px solid var(--color-semi-trans);
        padding: 0.5em 1em 0;
        border-radius: 6px;
    }

    summary {
        font-weight: bold;
        margin: -0.5em -1em 0;
        padding: 0.5em 1em;
        cursor: pointer;
    }

    details[open] {
        padding: 0.5em 1em;
    }

    details[open] summary {
        border-bottom: 1px solid var(--color-semi-trans);
        margin-bottom: 0.5em;
    }

    /* style some markdown elements */

    .questions :global(a) {
        color: var(--color);
    }

    .questions :global(a):hover {
        color: var(--accent);
    }

    .questions :global(code:not(pre > code)) {
        background-color: var(--surface2);
        border-radius: 5px;
        text-align: center;
        padding: 0 4px;
        margin: 0 2px;
    }

    .questions :global(.astro-code) {
        padding: 1em;
        background-color: var(--surface2) !important;
        border-radius: 6px;
    }
</style>
