---
export const prerender = true;

import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Faq"
    description="Answers to frequently asked questions about Vencord"
>
    <main>hi</main>
</Layout>

<style></style>
