---
import Layout from "../layouts/Layout.astro";
const features = [
    {
        icon: "bulb",
        title: "Easy Install",
        description: "Super easy to install thanks to our graphical installer",
    },
    {
        icon: "heart",
        title: "User Friendly",
        description:
            "Comes with all plugins preinstalled. Just enable what you like and you're done",
    },
    {
        icon: "globe",
        title: "Browser Support",
        description: "Works just as well inside your favourite Browser!",
    },
    {
        icon: "lock",
        title: "Privacy Friendly",
        description: "Blocks Discord analytics & crash reports out of the box",
    },
    {
        icon: "package",
        title: "Maintained Actively",
        description:
            "No more broken plugins! Bugs are usually fixed within a day",
    },
    {
        icon: "tools",
        title: "Developer Friendly",
        description:
            "Flexible and robust plugin system with many APIs empowering you",
    },
];

if (features.length % 3 !== 0)
    throw new Error("Feature amount must be multiple of 3");
---

<Layout description="Vencord is the cutest modification for Discord">
    <header class="header">
        <h1 class="header-text font-bold">Vencord</h1>
        <p class="header-paragraph font-sbold">The cutest Discord client mod</p>
        <div class="header-links">
            <a class="download-link font-sbold" href="./download"
                >Download Vencord</a
            >
            <a class="support-link" href="/discord">Join our Support Server</a>
            <a class="github-link" href="/github">View on GitHub</a>
        </div>
    </header>
    <section class="features">
        {
            features.map(({ icon, title, description }) => (
                <div class="feature-card">
                    <div class="feature-info">
                        <div class="feature-icon" aria-hidden="true">
                            <img
                                decoding="async"
                                loading="eager"
                                draggable="false"
                                src={`./assets/${icon}.svg`}
                                alt={icon + " icon"}
                            />
                        </div>
                        <h2 class="feature-title">{title}</h2>
                    </div>
                    <p class="feature-desc">{description}</p>
                </div>
            ))
        }
    </section>
    <style>
        .feature-icon img {
            user-select: none;
            width: 3.125rem;
            height: 3.125rem;
        }
        .feature-card {
            padding: 1rem;
            border-radius: 1rem;
            background: var(--bg3);
            border: 1px solid var(--borderClr);
            transition: border 250ms, background 250ms ease,
                box-shadow 500ms ease;
        }
        .feature-card:hover {
            background: var(--bg4);
            border: 1px solid var(--fg0-muted);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        .feature-info {
            display: flex;
            gap: 1rem;
        }
        .feature-title {
            margin: auto 0;
            line-height: 120%;
            color: var(--fg0);
            font-size: clamp(1.5rem, 2vw + 0.1rem, 3rem);
        }
        .feature-desc {
            color: var(--fg0);
        }
        .features {
            gap: 1rem;
            position: relative;
            display: grid;
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
        @media (min-width: 768px) {
            .features {
                position: relative;
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
        }
        @media (min-width: 1024px) {
            .features {
                grid-template-columns: repeat(3, minmax(0, 1fr));
            }
        }
        .download-link {
            background: var(--accentPurple);
            color: var(--bgCurrentWord);
            transition: background 250ms ease, color 250ms ease,
                opacity 250ms ease, transform 250ms linear;
        }
        .github-link,
        .support-link {
            color: var(--fg0);
            background: var(--bg3);
            border: 1px solid var(--fg0-muted);
            transition: opacity 250ms ease;
        }
        .github-link:hover,
        .support-link:hover {
            opacity: 0.8;
        }
        .download-link:hover {
            background: var(--accentpurpleDark);
            color: var(--bgCurrentWord);
            opacity: 0.9;
            transform: translateY(-0.125rem);
        }
        .header-links {
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 15rem;
            margin: 0 auto;
            gap: 1rem;
        }
        .header-links a {
            text-decoration: none;
            border-radius: 0.5rem;
            font-weight: var(--fontWeightSemiBold);
            padding: 0.8rem 1.5rem;
        }
        @media (min-width: 720px) {
            .header-links {
                flex-direction: row;
                max-width: fit-content;
                gap: 1rem;
            }
        }

        .header {
            margin: 3rem 0;
            text-align: center;
            display: flex;
            flex-direction: column;
        }
        .header-text {
            color: var(--accentPurple);
            margin: 0;
        }
        .header-paragraph {
            margin: 1.5rem 0;
            font-weight: var(--fontWeightSemiBold);
            font-size: clamp(2rem, 3vw + 0.1rem, 4rem);
            line-height: 2rem;
            color: var(--grey1);
        }
        @media (min-width: 640px) {
            .header-paragraph {
                margin: 2rem 0;
            }
        }
    </style>
</Layout>
