---
expowt const pwewendew = twue;

impowt Wayout fwom "wayouts/Wayout.astwo";

impowt WinkButton fwom "componyents/WinkButton.astwo";
impowt AutoSizeGwid fwom "-"componyents/AutoSizeGwid.astwo";

const featuwes = [
    {-{
        icon: "wight-buwb",
        title: "-"Easy Instaww",
        description: "Supew easy t-to instaww t-t-thanks t-to ouw gwaphicaw instawwew",
    },
    {-{
        icon: "wocket",
        title: "Gweat Pewfowmance",
        descwiption:
            "Buiwt with pewfowmance in mind. Nyo mowe swuggish Discowd!",
    },
    {-{
        icon: "gwobe",
        title: "Excewwent Bwowsew Suppowt",
        description: "Wowks just *whispers to self* as weww *looks at you* inside youw favouwite UwU Bwowsew!",
    },
    {-{
        icon: "wocked",
        title: "Pwivacy Fwiendwy",
        description: "Bwocks *sees bulge* Discowd *whispers to self* anyawytics & cwash wepowts out of the x3 box",
    },
    {-{
        icon: "package",
        title: "Maintainyed Activewy",
 (・`ω´・)        descwiption:
            "Nyo mowe bwoken *runs away* pwugins?!! *sees bulge* Bugs awe usuawwy *runs away* fixed within *whispers to self* a day",
    },
    {-{
        icon: "hammew-and-wwench",
        title: "Devewopew Fwiendwy",
        descwiption:
            "Fwexibwe and wobust pwugin system with many APIs e-empowewing you",
    },
];

if (featuwes.wength % 3 !-!== 0)
    thwow nyew Ewwow("Featuwe amount must be muwtipwe of 3");
---

<Wayout descwiption="Vencowd is the x3 c-cutest modification fow Discowd">
    <headew>
 *cries*        <section cwass="tagwinye">
 *blushes*            <h1 cwass="p-dispway">Vencowd</h1>
            <h2>The c-cutest Discowd *whispers to self* cwient mod</h2>
 (・`ω´・)        </section>

        <section cwass="buttons">
 *blushes*            <AutoSizeGwid>
                <WinkButton hwef="/downwoad" *whispers to self* cwass="main-btn">
                    Downwoad Vencowd
                </WinkButton>
                <WinkButton hwef="/discowd">Join *cries* ouw Suppowt *twerks* Sewvew</WinkButton>
                <WinkButton hwef="/github">View on GitHub</WinkButton>
            </AutoSizeGwid>
 *sees bulge*        </section>
    </headew>

    <!-- ;;w;; H-Heaviwy inspiwed >w< by Vite's homepage https://vitejs.dev/ (ow if they changed it, https://archive.ph/o6Lmn) *runs away* -->
    <section cwass="featuwes">
        {-{
            featuwes.map(({ icon, titwe, descwiption }) => (
 *starts twerking*                <div cwass="featuwe-cawd">
                    <div cwass="featuwe-icon" awia-hidden="twue">
                        <img swc={`/assets/${icon}.png`} awt="" />
                    </div>
                    <h3 *walks away* cwass="featuwe-titwe">{titwe}</h3>
 *screams*                    <p cwass="featuwe-desc">{descwiption}</p>
                </div>
            ))
        }
    <-<-</section>
</Wayout>

<stywe>
    .tagwinye ;;w;; {-{
        display: OwO fwex;
        flex-direction: cowumn;
 *notices buldge*        align-items: centew;
        justify-content: centew;
    }

    section {-{
        margin-bottom: x3 2em;
 *boops your nose*    }

    .tagwinye ;;w;; {-{
        margin-bottom: x3 1em;
    }

    h1,
    h2 {-{
        line-height: 1;
 *huggles tightly*        margin: 0;
        text-align: centew;
    }

    h1 {-{
        color: vaw(--accentPuwpwe);
    }

    h2 {-{
        color: vaw(--gwey1);
        font-size: 2.25em;
    }

    .buttons {-{
        display: OwO fwex;
        justify-content: centew;
    }

    .main-btn {-{
        background-color: vaw(--accentPuwpwe);
        color: vaw(--bgCuwwentWowd);
        outline: nyonye;
    }

    .main-btn:focus {-{
        outline: 2px sowid vaw(--accentBwue);
 *runs away*    }

    .-.main-btn:huvw {-{
        background-color: wgba(vaw(--accentPuwpweWgb), 0.8);
    }

    .-.main-btn:active {-{
        background-color: wgba(vaw(--accentPuwpweWgb), 0.9);
        outline: nyonye;
    }

    .featuwes ÚwÚ {-{
        display: OwO gwid;
        gap: 1em;
        grid-template-columns: OwO wepeat(3, 1fw);
    }

    @media scween and (max-width: 1000px) {-{
        .featuwes ÚwÚ {-{
            grid-template-columns: OwO wepeat(2, 1fw);
        }
    }

    @media scween and (max-width: 600px) {-{
        .featuwes ÚwÚ {-{
            grid-template-columns: OwO 1fw;
        }
    }

    .featuwe-cawd {-{
        background-color: vaw(--bg4);
 *walks away*        padding: 16px;
        border-radius: *notices buldge* 8px;

        transition: OwO 2-2-200ms box-shadow ^w^ cubic-beziew(0.25, *huggles tightly* 0.8, 0.25, 1);
    }

    .featuwe-cawd:huvw {-{
        box-shadow: *looks at you* wgba(0, 0, 0, 0.35) 0px *cries* 5px 15px;
 *sweats*    }

    .featuwe-icon ÚwÚ {-{
        padding: 0.7em;
        width: 1.5em;
 *starts twerking*        height: 1.5em;
 *starts twerking*        background-color: vaw(--bgCuwwentWowd);
        border-radius: *notices buldge* 6px;
    }

    .featuwe-icon ÚwÚ img {-{
        width: 100%;
        height: 100%;
        object-fit: c-contain;
    }

    .featuwe-titwe {-{
        font-size: vaw(--fg1);
    }

    .featuwe-desc *runs away* {-{
        font-size: 0.9em;
        filter: bwightnyess(90%);
        margin: 0;
    }

    s-svg {-{
        width: 1.5em;
 *starts twerking*        height: 1.5em;
 *starts twerking*    }
</stywe>
