---
import Layout from "layouts/Layout.astro";
import { PLUGINS_JSON_URL } from "scripts/constants";
import Plugins from "components/pages/plugins/Plugins.svelte";
import { PluginData } from "scripts/types";

const plugins = await fetch(PLUGINS_JSON_URL)
    .then((r) => {
        if (!r.ok) throw new Error("Failed to fetch plugins.json: " + r.status);
        return r.json() as Promise<PluginData[]>;
    })
    .then((plugins) => plugins.filter((p) => !p.name.endsWith("API")));

Astro.response.headers.set(
    "Cache-Control",
    "public, max-age=300, s-maxage=300"
);
---

<Layout
    title="Plugins"
    description={`Browse our list of ${plugins.length} Vencord plugins`}
>
    <div class="container">
        <h1 class="p-page-title">Plugins</h1>
        <p class="p-subtitle">
            We have {plugins.length} plugins available for you to use immediately,
            with more being made every day.
        </p>

        <Plugins {plugins} client:load />
    </div>
</Layout>

<style>
    h1 {
        color: var(--accentBlue);
    }

    .container {
        display: flex;
        flex-direction: column;
    }
</style>
