---
import Card, { CardKind } from "components/Card.svelte";
import Code from "components/Code.astro";
import Tab from "../Tab.astro";
import { DOWNLOAD_BASE } from "scripts/constants";
import CodeBlock from "components/CodeBlock.svelte";

const CLI_COMMAND = `
cd Downloads
./VencordInstallerCli.exe --install
`.trim();
---

<Tab
    links={[
        ["for Windows (Installer)", `${DOWNLOAD_BASE}/VencordInstaller.exe`],
        [
            "for Windows (CLI Installer)",
            `${DOWNLOAD_BASE}/VencordInstallerCli.exe`,
        ],
    ]}
>
    <div slot="header">
        <p>
            Download <Code>VencordInstaller.exe</Code> and run it. It should list
            all Discord installs on your System. Pick the one you would like to patch
            and press Install.
        </p>
    </div>

    <div slot="footer">
        <p>
            If the installer does not open for you, download <Code>
                VencordInstallerCli.exe
            </Code> instead. Run it and a terminal window should open. Just follow
            the instructions in the terminal.
        </p>

        <Card kind={CardKind.Warning}>
            <p>Do not run the installer as an Administrator!</p>
            <p>
                If you get a warning that the app cannot be opened, click "Run
                Anyways". You may need to click "more info" to see this option.
            </p>
            <p>
                This warning is entirely harmless and only shows because the app
                is not signed. Signing it would cost us <a
                    href="https://shop.certum.eu/data-safety/code-signing-certificates/certum-ev-code-sigining.html"
                    >upwards of 300€/year</a
                >.
            </p>
        </Card>
    </div>
</Tab>

<style>
    code {
        overflow-wrap: anywhere;
    }

    h3 {
        margin: 1em 0 0.5em;
        font-size: 2em;
    }
</style>
