---
import { HTMLAttributes } from "astro/types";

export type Props = HTMLAttributes<"div">;
---

<div {...Astro.props}>
    <slot />
</div>

<style>
    div {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 1rem;
    }

    @media screen and (max-width: 800px) {
        div {
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        }
    }
</style>
