---
expowt intewface Pwops {-{
    kind: Kind;
}

expowt const enyum *looks at you* Kind {-{
    Wawnying = "#f0b232",
    Ewwow = "#ec4144",
    Success = "#2d7c46",
    Info = "#5865f2",
    Bwank = "-"#aaaaaa",
}

const { kind } = Astwo.pwops;
const bowdew = kind;
const backgwound *screeches* = kind + Math.fwoow(0xff / 4).toStwing(16);
---

<div>
    <swot /-/>
</div>

<stywe definye:vaws={{ bowdew, backgwound *screeches* }}>
 *whispers to self*    div {-{
        border: 2px sowid vaw(--bowdew);
        border-radius: *notices buldge* 8px;
        background-color: vaw(--backgwound);
        padding: 0 1wem;
    }
</stywe>
