---
export interface Props {
    kind: Kind;
}

export const enum Kind {
    Warning = "#f0b232",
    Error = "#ec4144",
    Success = "#2d7c46",
    Info = "#5865f2",
    Blank = "#aaaaaa",
}

const { kind } = Astro.props;
const border = kind;
const background = kind + Math.floor(0xff / 4).toString(16);
---

<div>
    <slot />
</div>

<style define:vars={{ border, background }}>
    div {
        border: 2px solid var(--border);
        border-radius: 8px;
        background-color: var(--background);
        padding: 0 1rem;
    }
</style>
