---
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"a"> {
    href: string;
    children: any;
}
---

<a {...Astro.props}><slot /></a>

<style>
    a {
        display: inline-block;
        text-decoration: none;
        text-align: center;
        background-color: var(--accent);
        color: var(--background-color);
        padding: 0.5rem 1rem;
        border-radius: 8px;

        transition: 200ms color ease;
    }

    a:hover {
        background-color: var(--accent-alt);
    }

    a::selection {
        background-color: var(--background-color);
        color: var(--accent);
    }
</style>
