---
import { HTMLAttributes } from "astro/types";

export type Props = HTMLAttributes<"a">;
---

<a {...Astro.props}><slot /></a>

<style>
    a {
        color: var(--color);
    }

    a:hover {
        color: var(--accent);
    }
</style>
