---
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"a"> {
    href: string;
    children: any;
}
---

<a {...Astro.props}><slot /></a>

<style>
    a {
        display: inline-block;
        text-decoration: none;
        text-align: center;
        background-color: black;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 5px;
    }
</style>
