---
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"a"> {
    href: string;
    children: any;
}
---

<a {...Astro.props}><slot /></a>

<style>
    a {
        display: inline-block;
        text-decoration: none;
        text-align: center;
        background-color: var(--accent);
        color: var(--background-color);
        padding: 0.5rem 1rem;
        border-radius: 5px;

        transition: 200ms box-shadow cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    a:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 7px;
    }

    a::selection {
        background-color: var(--background-color);
        color: var(--accent);
    }
</style>
