---
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"a"> {
    href: string;
    children: any;
}
---

<a {...Astro.props}><slot /></a>

<style>
    a {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        text-decoration: none;
        text-align: center;
        background-color: var(--bg3);
        font-weight: var(--fontWeightSemiBold);
        color: var(--fg0);
        outline: 1px solid var(--fg1);
        padding: 0.8em 2em;
        border-radius: 12px;

        transition: 200ms color ease;
    }

    a:focus {
        outline: 2px solid var(--accentPurple);
    }

    a:hover {
        background-color: var(--bg5);
    }

    a:active {
        outline-color: var(--fg1);
        outline-width: 1px;
        background-color: var(--bgCurrentWord);
    }

    a:disabled {
        background-color: var(--bgCurrentWord);
        outline-color: var(--grey0);
        color: var(--grey0);
    }

    a::selection {
        background-color: var(--background-color);
        color: var(--accent);
    }
</style>
