---
export interface Props {
    title: string;
}
const { title } = Astro.props;
---

<nav>
    <div class="nav-content">
        <a href="/" id="title">
            <h2>{title}</h2>
        </a>
        <div id="btns">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/download">Download</a>
                </li>
                <li>
                    <a href="/plugins">Plugins</a>
                </li>
                <li>
                    <a href="/docs">Docs</a>
                </li>
                <li>
                    <a href="/cloud">Cloud</a>
                </li>
                <li>
                    <a href="/discord">Discord</a>
                </li>
            </ul>
        </div>
        <div id="oneko" aria-hidden="true"></div>
    </div>
</nav>

<style>
    nav {
        background-color: var(--surface);
        padding: 1em 0;
    }

    .nav-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 var(--horizontal-margin);
    }

    h2 {
        cursor: pointer;
        font-weight: 500;
    }

    #btns {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    ul {
        float: right;
        list-style-type: none;
        overflow: hidden;
        padding: 0;
    }

    li {
        float: left;
    }

    a {
        text-decoration: none;
        text-align: center;
        padding: 0.5em;
        color: var(--color);
        transition: 0.15s ease;
        transition-property: color, text-decoration;
    }

    a:not(#title):where(:hover, :focus) {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        outline: none;
        color: var(--accent);
    }

    #oneko {
        content: "";
        display: inline-block;
        position: absolute;
        width: 32px;
        height: 32px;
        right: 2rem;
        image-rendering: pixelated;
        /* https://raw.githubusercontent.com/adryd325/oneko.js/14bab15a755d0e35cd4ae19c931d96d306f99f42/oneko.gif */
        background-image: url("/assets/oneko.gif");
        animation: sleep 1s infinite;
        cursor: pointer;
    }

    #oneko:hover {
        animation: 2.5s 1 forwards wakeup;
    }

    @media (prefers-reduced-motion) {
        #oneko {
            display: none;
        }
    }

    @media only screen and (max-width: 600px) {
        .nav-content {
            position: relative;
            flex-direction: column;
        }
        #oneko {
            top: 2rem;
            left: 2rem;
        }
    }

    @keyframes sleep {
        0%,
        50% {
            background-position: -64px 0;
        }
        50.00001%,
        100% {
            background-position: -64px -32px;
        }
    }

    @keyframes wakeup {
        0%,
        20% {
            background-position: -160px 0;
        }
        20.00001%,
        40% {
            background-position: -192px 0;
        }
        40.00001%,
        60% {
            background-position: -224px 0;
        }
        60.00001%,
        80% {
            background-position: -96px -64px;
        }
        80.00001%,
        100% {
            background-position: -96px -96px;
        }
    }
</style>
