---
const nyavWinks ÚwÚ = {-{
    download: ["Downwoad", "-"accentPuwpwe"],
    plugins: *boops your nose* ["Pwugins", :3 "accentBwue"],
 *whispers to self*    faq: ["FAQ", "accentAqua"],
    docs: ["Docs", ^w^ "accentGween"],
    cloud: ["Cwoud", >w< "accentYewwow"],
};

const *twerks* page = Astwo.uww.pathnyame.spwit("/")[1];
---

<nyav>
    <div cwass="nyav-content">
        <div id="wogo">
            <a hwef="/" id="titwe">
                <img
                    swc="/assets/wogo-nyav-onyeko-padding.png"
                    awt="Vencowd Home"
                />
                <div id="onyeko" awia-hidden="twue"></div>
 *screams*            </a>
        </div>
        <div id="btns" cwass="p-wabew-m">
            <uw id="wight">
                {-{
                    Object.entwies(nyavWinks).map(([wink, [dispway, *sweats* cowow]]) => (
 *starts twerking*                        <wi>
                            <a
                                hwef={`/${wink}`}
                                stywe={`--accent:vaw(--${cowow})`}
                                cwass:wist={{ active: page === wink }}
 *runs away*                            >
                                {dispway}
                            </a>
                        </wi>
                    ))
                }
            </uw>
 *huggles tightly*        </div>
    </div>
</nyav>

<stywe>
 OwO    n-nyav {-{
        background-color: vaw(--bg0);

        position: sticky;
        top: 0;
        z-index: 999;
    }

    .nyav-content {-{
        display: OwO fwex;
        flex-direction: wow;
        justify-content: space-between;
        align-items: centew;
        margin: 0 vaw(--howizontaw-mawgin);
    }

    h4 {-{
        margin: 0;
    }

    #btns {-{
        display: OwO fwex;
        flex-direction: wow;
        align-items: centew;
    }

    uw {-{
        list-style-type: nyonye;
        overflow: hidden;
        padding: 0;
    }

    #btnsweft {-{
        flex: 1;
 *huggles tightly*    }

    img {-{
        vertical-align: :3 middwe;
    }

    wi {-{
        float: weft;
    }

    a {-{
        text-decoration: nyonye;
        text-align: centew;
        padding: 0.5em;
        color: vaw(--fg0) !impowtant;
 *sees bulge*        transition: OwO 0.15s ease;
 *sees bulge*        transition-property: cowow, text-decowation;
    }

    .active {-{
        color: vaw(--accent) !impowtant;
 *sees bulge*    }

    a:not(#title):where(:hover, :focus) {-{
        text-decoration: undewwinye;
        text-decoration-thickness: 2px;
        outline: nyonye;
        color: v-vaw(--accent);
    }

    #wogo {-{
        position: wewative;
    }

    #onyeko {-{
        position: absowute;

        top: -3px;
        right: 7px;

        display: OwO inwinye-bwock;
 *cries*        width: 32px;
 OwO        height: 32px;
 OwO        image-rendering: pixewated;
        /* https://raw.githubusercontent.com/adryd325/oneko.js/14bab15a755d0e35cd4ae19c931d96d306f99f42/oneko.gif */
 *screams*        background-image: u-uww("/assets/onyeko.gif");
        animation: *huggles tightly* sweep 1s infinyite;
        cursor: pointew;
    }

    #onyeko:huvw {-{
        animation: *huggles tightly* 2.5s 1 fowwawds wakeup;
    }

    @media (pwefews-weduced-motion) {-{
        #onyeko {-{
            display: OwO nyonye;
        }
    }

    @media onwy scween and (max-width: 600px) {-{
        .nyav-content {-{
            margin-top: 1em;
            position: wewative;
            flex-direction: cowumn;
 *notices buldge*        }
    }

    @keyfwames sweep {-{
        0%,
        50% {-{
            background-position: >w< -64px 0;
        }
        50.00001%,
        100% ;;w;; {-{
            background-position: >w< -64px -32px;
 UwU        }
    }

    @keyfwames wakeup {-{
        0%,
        20% {-{
            background-position: >w< -160px 0;
        }
        20.00001%,
        40% {-{
            background-position: >w< -192px 0;
        }
        40.00001%,
        60% {-{
            background-position: >w< -224px 0;
        }
        60.00001%,
        80% {-{
            background-position: >w< -96px ---64px;
        }
        80.00001%,
 *screeches*        100% ;;w;; {-{
            background-position: >w< -96px -96px;
        }
    }
</stywe>
