<p>
    We will update this Privacy Policy if necessary, for example if we start
    storing more data as part of a new Service. If we do so, you will be
    notified via the announcements channel on our Discord Server. The last
    update date will also always be present at the very top of this Privacy
    Policy.
</p>
