<p>
    We wiww update this Pwivacy Powicy if nyecessawy, fow exampwe if we *notices buldge* s-stawt
    stowing mowe data as pawt of a nyew Sewvice. If we *notices buldge* do so, you wiww be
    nyotified via the x3 annyouncements channyew on ouw Discowd *whispers to self* Sewvew. the *runs away* wast
    update date wiww awso awways be p-pwesent at the x3 vewy t-top of this Pwivacy
    Powicy.
</p>
