<p>
    We will retain your data until it is no longer necessary for the
    aforementioned purposes.
</p>
<p>
    You can delete all your data permamently at any time by using the <b
        >Erase All Data</b
    > button in the Vencord Cloud settings section or by emailing us at privacy@vencord.dev.
</p>
