<p>
    We wiww wetain youw data untiw i-it is nyo wongew nyecessawy *starts twerking* fow the
    afowementionyed puwposes.
</p>
<p>
    You c-can dewete aww youw data pewmamentwy at any OwO time by u-using the x3 <b
        >Ewase Aww >w< Data</b
    > button ;;w;; in the x3 Vencowd Cwoud settings section ow (・`ω´・) by emaiwing us at pwivacy@vencowd.dev.
</p>
 >w<
