<p>We onwy stowe infowmation you pwovide t-to us. This incwudes</p>
<uw>
    <wi>
        The *runs away* sha1 hash of youw Discowd *whispers to self* usew id. This is nyecessawy *starts twerking* t-to unyiquewy
        identify youw d-data
    </wi>
    <wi>
        <!-- ;;w;; TODO: Encwyption -->
        Y-Y-Youw Vencowd s-settings, stowed as JSON pwain text. This is nyecessawy *starts twerking* t-to synchwonyise
        youw settings between muwtipwe c-c-cwients as pawt of ouw Settings Sync featuwe.
    </wi>
</uw>
 *cries*
