<p>
    This privacy policy applies to our cloud services, which you need to
    explicitly enable. If you don't enable the cloud, Vencord will not collect
    any data about you whatsoever. Our website (the one you are currently on)
    might collect data about you via our hosting provider Vercel. You can find
    out more about this in our GDPR policy linked below.
</p>
<p>
    We take your privacy very seriously! As such, we collect as little
    information as possible and only use it for the purposes absolutely
    necessary to provide our services to you.
</p>
<p>
    This is a very simple summary for normal people. We also have a proper <a
        href="/cloud/gdpr">GDPR policy</a
    >. You might want to read that as well.
</p>
