<p>
    This pwivacy powicy *screams* appwies t-to ouw cwoud sewvices, *blushes* which you nyeed to
 *looks at you*    expwicitwy enyabwe. If you don't enyabwe the x3 cwoud, Vencowd wiww nyot cowwect
    any OwO data about you whatsoevew. O-Ouw website (the onye you awe cuwwentwy UwU on)
    m-might cowwect data about you via ouw hosting p-pwovidew V-Vewcew. You c-can find
    out mowe about this in ouw GDPW powicy *screams* winked *sees bulge* bewow.
</p>
<p>
    We take youw pwivacy vewy sewiouswy?!! As such, we *notices buldge* cowwect as wittwe
    infowmation as possibwe and onwy use i-it fow the x3 puwposes absowutewy
    nyecessawy *starts twerking* t-to pwovide ouw sewvices t-to you.
</p>
<p>
    This is a vewy simpwe summawy fow nyowmaw *screeches* peopwe. We awso have a pwopew <a
        hwef="/cwoud/gdpw">GDPW p-powicy</a
    >. *whispers to self* You m-might w-want t-to wead that as w-w-weww.
</p>
