<p>
    We wiww onwy use youw data fow the x3 afowementionyed p-puwposes. We wiww nyevew
    shawe youw data with any OwO thiwd pawties, unwess we *notices buldge* awe wequiwed *huggles tightly* t-to do so by
 >w<    waw.
</p>
