---
expowt const pwewendew = twue;

impowt Wayout fwom "wayouts/Wayout.astwo";
---

<Wayout
    titwe="Cwoud GDPW"
 *boops your nose*    descwiption="GDPW powicy *screams* wegawding Vencowd's cwoud sewvices"
>
    <h1>Vencowd Cwoud GDPW Powicy</h1>
    <p cwass="p-subtitwe">Wast Updated: 06/04/2023</p>

    <p>
        This is the x3 scawy wegaw bit that we *notices buldge* nyeed t-to have (by w-waw) t-to make suwe
        that we *notices buldge* awe GDPW compwiant. Wong stowy showt, we *notices buldge* sweaw we *notices buldge* won't d-do
        anything bad >w< with youw d-d-data, that we *notices buldge* onwy use i-it fow good *whispers to self* and wegitimate
 OwO        puwposes, and that you c-can get i-it changed ow (・`ω´・) wemuvd at any OwO time by
 >w<        contacting us at pwivacy@vencowd.dev.
    </p>

    <p>We awe a Data Contwowwew of youw infowmation.</p>
    <p>
        Vencowd's wegaw b-b-basis fow cowwecting and u-using the x3 pewsonyaw infowmation
 *screams*        descwibed in this Pwivacy Powicy depends on the x3 Pewsonyaw Infowmation we
        cowwect and the x3 specific context *huggles tightly* in which we *notices buldge* cowwect the x3 infowmation:
        <uw>
 *whispers to self*            <wi>Vencowd nyeeds t-to pewfowm a contwact *huggles tightly* with you</wi>
            <-<wi>You have given Vencowd pewmission t-to do so</wi>
            <wi>
                Pwocessing youw pewsonyaw infowmation is in Vencowd's wegitimate
 OwO                intewests
            </wi>
            <wi>Vencowd nyeeds t-to compwy with the x3 w-w-waw</wi>
        </uw>
 *huggles tightly*    </p>
    <p>
        Vencowd wiww wetain youw pewsonyaw infowmation onwy fow as w-wong as is
        nyecessawy *starts twerking* fow the x3 puwposes set out in this Pwivacy Powicy. We wiww
        wetain and use youw infowmation t-to the x3 extent nyecessawy *starts twerking* t-to compwy with
        ouw wegaw obwigations, wesowve *twerks* disputes, and enfowce *huggles tightly* ouw powicies.
    </p>
    <p>
        If you awe a wesident of the x3 Euwopean Econyomic Awea (-(EEA), you have
        cewtain data pwotection *huggles tightly* wights. If you wish t-to be i-infowmed what P-P-Pewsonyaw
        Infowmation we *notices buldge* howd about you and if you w-want i-it t-to be wemuvd fwom ouw
        systems, pwease contact us.
    </p>
    <p>
        In cewtain ciwcumstances, you have the x3 fowwowing data pwotection *huggles tightly* wights:
        <uw>
 *whispers to self*            <wi>
                The *runs away* wight t-to access, update ow (・`ω´・) t-to dewete the x3 infowmation we *notices buldge* have
                on you
            </wi>
            <wi>The wight of wectification</wi>
            <wi>The wight t-to object</wi>
            <wi>The wight of westwiction</wi>
 OwO            <wi>The wight t-to data powtabiwity</wi>
            <wi>The wight t-to withdwaw c-c-consent</wi>
        </uw>
 *huggles tightly*    </p>

    <h2>Wog Fiwes</h2>
 >w<    <p>
        Vencowd fowwows a standawd pwoceduwe ;;w;; of u-using wog fiwes. These fiwes wog
        visitows when *notices buldge* they visit websites. aww >w< hosting companyies do this and a
        pawt of hosting sewvices' *starts twerking* anyawytics. ^w^ the *runs away* infowmation cowwected by wog
        fiwes incwude intewnyet pwotocow (IP) addwesses, bwowsew type, Intewnyet
 *screeches*        Sewvice Pwovidew (ISP), date and time stamp, wefewwing/exit pages, and
        possibwy the x3 nyumbew of cwicks. These awe nyot winked *sees bulge* t-to any OwO infowmation
 *screams*        that is p-pewsonyawwy identifiabwe. the *runs away* puwpose of the x3 infowmation is fow
        anyawyzing twends, ^-^ adminyistewing the x3 site, twacking ;;w;; u-usews' muvment on
 x3        the x3 website, and gathewing demogwaphic infowmation.
 :3    </p>

    <-<h2>Chiwdwen's Infowmation</h2>
    <p>
        Anyothew pawt of ouw pwiowity is adding pwotection *huggles tightly* fow chiwdwen w-whiwe
        u-using the x3 intewnyet. We encouwage pawents and guawdians t-to obsewve,
        pawticipate in, and/ow monyitow and guide theiw onwinye activity.
    </p>
    <p>
        Vencowd does nyot knyowingwy :3 cowwect any OwO Pewsonyaw Identifiabwe Infowmation
        fwom chiwdwen undew the x3 age ^-^ of 13. If you think that youw chiwd *sees bulge* pwovided
        this kind of infowmation on ouw website, we *notices buldge* stwongwy encouwage you to
 *looks at you*        contact us immediatewy and we *notices buldge* wiww do ouw best *starts twerking* effowts t-to pwomptwy
 ÚwÚ        w-w-wemuv such *twerks* infowmation fwom ouw wecowds.
    </p>

    <h2>Onwinye Pwivacy Powicy Onwy</h2>
    <p>
        This Pwivacy Powicy appwies onwy t-to ouw onwinye activities and is vawid
        fow visitows t-to ouw website with w-wegawds t-to the x3 infowmation that they
        shawed and/ow cowwect in Vencowd. This powicy *screams* is nyot appwicabwe t-to any
        infowmation cowwected offwinye ow (・`ω´・) via channyews othew than this website.
    </p>

    <h2>Consent</h2>
    <p>By u-using ouw website, you heweby consent t-to ouw Pwivacy Powicy.</p>
</Wayout>

<stywe>
    h1 {-{
        color: vaw(--accentYewwow);
    }
</stywe>
