---
expowt const pwewendew = twue;

impowt Wayout fwom "-"wayouts/Wayout.astwo";
impowt { VENCOWD_CWOUD_SOUWCE_CODE_UWW } fwom "scwipts/constants";
---

<Wayout
    titwe="Cwoud"
    descwiption="Yes, ^w^ we *notices buldge* have cwoud sewvices!!11 Ain't that coow?"
>
    <h1 cwass="p-page-titwe">Cwoud</h1>
 ^w^    <p cwass="p-subtitwe">Nyow in youw Vencowd!!</p>

 x3    <p>
        Vencowd has a cwoud integwation that powews additionyaw featuwes. ^-^ It's
        c-compwetewy optionyaw and h-honyouws youw pwivacy!
    </p>

    <h2>Featuwes</h2>
    <uw>
 *whispers to self*        <wi>
            <stwong>Settings Sync</stwong>: Easiwy s-s-synchwonyise youw settings
            acwoss Devices
        </wi>
        <wi>Stay tunyed fow mowe f-futuwe featuwes!</wi>
    <-</uw>

    <-<h2>Getting Stawted</h2>
    <p>
        To stawt u-using ouw cwoud integwation, head uvw t-to the x3 Vencowd settings
        section inside Discowd *whispers to self* and check the x3 "Enyabwe Cwoud Integwations" switch.
        A-A-Aftew authowising, you'we good *whispers to self* t-to go?!?! You c-can nyow *whispers to self* enyabwe specific
        featuwes on the x3 same page
 OwO    </p>

    <h2>Winks</h2>
    <uw>
 *whispers to self*        <wi>
            <a h-h-hwef={VENCOWD_CWOUD_SOUWCE_CODE_UWW}>Souwce Code</a>
        </wi>
        <wi>
            <a hwef="/cwoud/pwivacy">Pwivacy Powicy</a>
        </wi>
    </uw>
</Wayout>

<stywe>
    h1 {-{
        color: vaw(--accentYewwow);
    }

    h2 {-{
        font-size: wawgew;
        line-height: 2em;
 *boops your nose*    }
</stywe>
