---
export const prerender = true;

import Layout from "../../layouts/Layout.astro";
---

<Layout title="Cloud" description="Yes, we have cloud services! Ain't that cool?">
    <h1 class="p-page-title">Cloud</h1>
    <p class="p-subtitle">The coolest thing since factory-sliced bread.</p>

    <p>
        Vencord has a (completely optional) cloud integration. This grants the ability to use services such as settings
        synchronization to make sure all of your Vencord configuration is kept up to date across devices and clients.
    </p>

    <p>
        Whilst this page is not done, you can still enable cloud services in the client! Simply go to the Cloud page in
        your user settings (under the Vencord section, of course), enable the "Enable Cloud Integrations" switch, and
        authorize. Easy as pie!
    </p>

    <p>
        Also, if you're worried about privacy, don't worry. We don't store more than we need to, and we have a
        <a href="/cloud/privacy">privacy policy to guarantee that</a>.
    </p>
</Layout>

<style>
    h1 {
        color: var(--accentYellow);
    }
</style>