---
export const prerender = true;

import Layout from "../../layouts/Layout.astro";
---

<Layout title="Vencord Cloud" description="cloudy...">
    <h1>Coming Soon...</h1>
    <video src="/assets/turtle-friends.mp4" autoplay loop muted></video>
</Layout>
