---
export const prerender = true;

import Layout from "../../layouts/Layout.astro";
---

<Layout title="Cloud" description="Super epic thing">
    <h1 class="p-page-title">Cloud</h1>
    <p class="p-subtitle"></p>
</Layout>

<style>
    h1 {
        color: var(--accentYellow);
    }
</style>